include parts/headerLogo.pug

div.wrapper.intro 
  h1 archive
  div.collection
    each publication in publications
      a(href='saved?id=' + publication.id).tile
        div.publication
          p= publication.id
          img(src='assets/img/cover.png')
        div.description
          title= publication.id
          div.author
            span Written by 
            span= publication.id
          div.date
            span Created on: 
            span= publication.id
          div.assets
            span Number of assets: 
            span= publication.id
          div.pages
            span Number of pages:  
            span= publication.id
          div.time
            span Total time:  
            span= publication.id
          div.awards
            span Awards won: 
            span= publication.id



