include parts/headerLogo.pug

div.wrapper.intro 
  h1.center Archive
  p.center Browse the collection of publications created with <b>Publish or Perish!</b> or  <a href="/">Publish or Perish!</a> yourself.
  div.collection
    each publication in publications
      a(href='saved?id=' + publication.id).tile
        img.cover(src='cover?id=' + publication.id)
        div.description
          div.title
            span= publication.title
          div.author
            span Written by 
            span= publication.authors
          div.date
            span Created on: 
            span= publication.date
          div.images
            span Number of images: 
            span= publication.imagesAmount
          div.pages
            span Amount of text:  
            span= publication.textAmount + ' chars'
          div.time
            span Elapsed time:  
            span= publication.timeElapsed + 's'
          div.awards
            span Obtained achievements: 
            span= publication.achievementsAmount
  a.older(href='archive?page=' + nextPage) Older

script(src='assets/js/interface.js')
